.languages_container{
    flex-basis: 100%;
    border: 1px dotted;
    border-radius: 2px;
    padding: 10px;
    margin-top: 10px;
}
.languages_options{
    background-color: lightgrey;
    padding: 5px;
    cursor: pointer;
    &:nth-of-type(1){
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    &:nth-last-of-type(){
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}
.languages_autoComplete{
    margin-top: 5px;
    width: 300px;
}